div.post {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: rgb(241, 237, 250);
  border-radius: 10px;

  div.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(194, 179, 228);

    h2 {
      margin: 0;
      padding: 0;
      font-size: 1.1em;
      font-weight: 900;
    }

    p.date {
      font-size: 0.8em;
      color: rgb(90, 36, 198);
    }


  }



  p:last-child {
    margin-bottom: 0;
  }

}

div.post-footer {
  a {
    color: rgb(96, 46, 194);
    text-decoration: underline;
    font-weight: 900;
  }


  background-color: rgb(241, 237, 250);
  margin-bottom: 10px;
  padding: 4px 12px 5px;
  font-size: 0.9em;
  color: rgb(54, 11, 140);
  border-radius: 10px;
  text-align: center;
}

div.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  a {
    color: rgb(96, 46, 194);
    text-decoration: underline;
    font-weight: 900;
  }

  background-color: rgb(241, 237, 250);
  margin-bottom: 10px;
  padding: 4px 12px 5px;
  font-size: 0.9em;
  color: rgb(54, 11, 140);
  border-radius: 10px;
  text-align: center;
}