.options {
  display: flex;
  justify-content: space-between;
  gap: var(--gutter-small);
  padding: var(--gutter-small);
  border-radius: var(--outer-radius);
  background-color: var(--main-lightest);

  .option {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: var(--control-min-width);
    flex: 1;

    select {
      border: var(--main-border);
      color: var(--main);
      border-radius: var(--inner-radius);
      padding: var(--control-select-padding);
      outline: none;
      width: 100%;
      height: var(--control-height);
      appearance: none;
      background: var(--lightest);
      background-size: 16px;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAAYCAMAAACGPf6pAAAADFBMVEUAAAD///91Wcn///+tzMFdAAAABHRSTlP///8AQCqp9AAAAAlwSFlzAAAWJQAAFiUBSVIk8AAAAGRJREFUOI2tz8EOADAEA1D8/0fvskQmazUzV+rhYbAct0iKVeCVBLOAXZayQH2aev4NLObYRLusbrCt1akuNTqyrm+xoXYAPZZazgqp6ZGJKNhc24yEfdDMZezUXE2VI9XU628L1vgATpMkIsMAAAAASUVORK5CYII=');
      background-position: right center;
      background-repeat: no-repeat;
    }

    label {
      display: inline-block;
      margin-right: 4px;
      color: var(--main);
      font-size: var(--font-size-small);
      font-weight: bolder;
    }
  }

  button {
    background-color: var(--main-dark);
    color: var(--lightest);
    border: none;
    border-radius: var(--inner-radius);
    padding: var(--control-button-padding);
    cursor: pointer;
  }
}


pre {
  margin-top: 10px;
  background-color: var(--main-lightest);
  padding: var(--pad-card-content-more);
  border-radius: 10px;
  color: var(--main-dark);
  font-family: 'Courier New', Courier, monospace;
  font-size: var(--font-size-big);
  font-weight: bold;
  overflow: scroll;
}

@media (width <=780px) {
  .options {
    flex-direction: column;
    max-width: calc(100vw - var(--gutter) * 2);

    .option {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      label {
        font-size: 90%;
      }
    }
  }

  pre {
    max-width: calc(100vw - var(--gutter) * 2);
  }
}