.utility-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  gap: var(--gutter-small);
  margin: 0;
  padding: 0;
  list-style: none;

  .utility {
    .header {
      background-color: var(--main);
      border-radius: var(--top-radius);
      padding: var(--pad-single-line);

      h2 {
        margin: 0;
        font-size: var(--font-size-bigger);

        a {
          color: var(--lightest);
        }
      }
    }

    .body {
      background-color: var(--main-lighter);
      border-radius: var(--bottom-radius);
      padding: var(--pad-card-content);

      p {
        margin: 0;
      }
    }
  }
}