:root {

  --lightest: #fff;
  --darkest: #000;

  --main: rgb(122, 69, 227);
  --main-light: rgb(180, 151, 236);
  --main-lighter: rgb(210, 198, 233);
  --main-lightest: rgb(240, 235, 248);
  --main-darker: rgb(66, 22, 155);
  --main-darkest: rgb(35, 3, 99);
  --main-dark: rgb(96, 46, 194);

  --alt: rgb(120, 101, 70);
  --alt-light: rgb(149, 134, 108);
  --alt-lighter: rgb(180, 165, 136);
  --alt-dark: rgb(93, 73, 42);
  --alt-darker: rgb(66, 46, 15);

  --main-lighter-border: 1px solid var(--main-lighter);
  --main-border: 1px solid var(--main);

  --font-size-big: 110%;
  --font-size-bigger: 130%;
  --font-size-biggest: 200%;

  --font-size-small: 90%;
  --font-size-smaller: 70%;

  --font-family: 'Arial', sans-serif;

  --background: var(--lightest);
  --text-color: var(--darkest);

  --header-background: var(--main-darkest);
  --header-text-color: var(--lightest);
  --header-height: 60px;

  --footer-background: var(--main-darkest);
  --footer-text-color: var(--lightest);
  --footer-hover-text-color: var(--main-lighter);
  --footer-height: 60px;

  --menu-background: var(--main-darker);
  --menu-text-color: var(--lightest);
  --menu-hover-background: var(--main);
  --menu-hover-text-color: var(--lightest);

  --menu-toggle-size: 200%;

  --link: var(--main-darker);

  --gutter: 20px;
  --gutter-small: 10px;
  --gutter-tiny: 5px;

  --pad-single-line: 4px 12px 5px;
  --pad-card-content: 8px 15px;
  --pad-card: 10px 20px;
  --pad-card-content-more: 17px 27px;

  --outer-radius: 10px;
  --inner-radius: 5px;

  --bottom-radius: 0 0 10px 10px;
  --top-radius: 10px 10px 0 0;

  --main-width: 780px;

  --control-min-width: 100px;
  --control-height: 35px;
  --control-select-padding: 0 10px;
  --control-button-padding: 5px 15px;
}